* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #121212;
}
main{
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
#accent{
    color: #ac5bfd;
}
/*HEADER*/
#header{
    background-color: #090909;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 40px;
    box-shadow: 0px 2px 9px;
}
#nome{
    font-size: 40px;
    color: #dfdfdf;
}
#boxlinks{
    align-items: center;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
}
.links{
    color: #dfdfdf;
    text-decoration: none;
}
#botaoheader{
    color: #121212;
    font-size: large; 
    border-radius: 20px;
    padding: 10px;
    background-color: #ac5bfd;
    border: #ac5bfd solid 2px;
}
#botaoheader:hover{
    opacity: 0.7;
}
.links:hover{
    opacity: 0.7;
}
/*NAVBAR MENU*/
#hamburguer {
    font-size: 30px;
    color: #dfdfdf;
    cursor: pointer;
    display: none;
}

#mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: #090909;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.5);
}

#mobile-menu a,
#mobile-menu button {
    margin: 10px 0;
    text-align: center;
}

@media (max-width: 768px) {
    #boxlinks {
        display: none;
    }

    #hamburguer {
        display: block;
    }
}
/*MAIN CARD*/
#maincard{
    display: flex;  
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
    margin-top: 80px;
} 
#boxfoto{
    height: 300px;
    width: 350px;
}
#boxtexto{
    color: #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
/*ABOUT ME*/
#aboutme {
    background-color: #202020;
    border-radius: 20px;
    max-width: 1000px;
    box-shadow: 0px 2px 9px black;
    margin-top: 50px;
    padding: 20px;
    color: #dfdfdf;
}