#nome {
    font-size: 40px;
    color:  var(--cor-texto);
}
.logo{
    display: flex;
    align-items: center;
    gap: 25px;


}
#accent {
    color:     var(--cor-roxo-claro);;
    font-family: inherit;
}
:root {
    /* CUBE SIZE */
    --face-size: 20px;
}
.cube-scene {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--face-size) * 2);
    height: calc(var(--face-size) * 2);
    perspective: 1000px;
}

.cube {
    width: var(--face-size);
    height: var(--face-size);
    position: relative;
    transform-style: preserve-3d;
    animation: rotateCube 5s infinite linear;
}

.face {
    position: absolute;
    width: var(--face-size);
    height: var(--face-size);
    border: 1px solid var(--cor-roxo-claro);;
    background: transparent;
}

.front {
    transform: translateZ(calc(var(--face-size) / 2));
}

.back {
    transform: rotateY(180deg) translateZ(calc(var(--face-size) / 2));
}

.left {
    transform: rotateY(-90deg) translateZ(calc(var(--face-size) / 2));
}

.right {
    transform: rotateY(90deg) translateZ(calc(var(--face-size) / 2));
}

.top {
    transform: rotateX(90deg) translateZ(calc(var(--face-size) / 2));
}

.bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--face-size) / 2));
}

/* Rotation animation */
@keyframes rotateCube {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

