
@media (max-width: 768px) {
    #navbar-box {
        display: none;
    }

    #hamburguer {
        display: block;
    }

    #about-me-text {
        padding: 13px;
    }

    #about-me-card {
        margin: 25px;
    }

    #main-card {
        margin-top: 25px;
    }
    #contact-text-box{
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 10px;
        margin-right: 0;
    }
    .footer-cube-scene{
        padding-top: 10px;
    }
    .footer-cube-scene:nth-child(2) {
        order: -1; /* Moves second item to first position */
      }
}
@media (max-width: 400px){
    #main-title-box{
        width: 200px;
    }
    .main-title{
        font-size: x-large;
    }
    #main-image-box{
        width: 250px;
        height: 225px;
    }
}