@import url('responsive.css');
@import url('theme.css');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root {
    background-color: var(--cor-header);
}
body {
    background: var(--cor-background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
    text-decoration: none;
    font-weight: normal;
}