:root{
    --cor-roxo-escuro: #552287;
    --cor-roxo-claro: #ac5bfd;
    --cor-texto: #dfdfdf;
    --cor-header: #090909;
    --cor-background: linear-gradient(135deg, #121212, #28184a);
    --cor-layer2: #202020;
    --cor-layer1: #251c3c;
    #theme-icon{
        filter: invert(.9);
    }
}
.lightmode {
    --cor-roxo-escuro: #9c4dcc;   /* roxo forte para títulos/destaques */
    --cor-roxo-claro:  #9c4dcc;   /* tom médio para botões/links */
    --cor-texto:       #212121;   /* texto escuro confortável */
    --cor-header: #b39ddb;   /* lilás claro no header */
    --cor-background:  linear-gradient(135deg, #f5f5ff, #c6b6f8);   /* fundo lilás suave, mais "colorido" */
    --cor-layer2: #e9ddff;   /* cards/caixas (médio) */
    --cor-layer1: #cebbf3;   /* divisores/bordas (mais forte) */
    #contact-title {
        color: var(--cor-layer2);
    }
    #contact-message {
        color: var(--cor-layer2);
    }
    #contact-text-box {
        color: var(--cor-layer2);
    }
    #about-me-button{
        color: var(--cor-layer2);
    }
    #header {
        box-shadow: 0px 2px 9px var(--cor-layer1);
    }
    #navbar-mobile {
        box-shadow: 0px 2px 9px var(--cor-layer1);
    }
    #theme-icon{
        filter: invert(0);
    }
}

