/* HEADER */
#header {
    background-color: var(--cor-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 40px;
    box-shadow: 0px 2px 9px;
}

#navbar {
    align-items: center;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    height: 30px;
}
#theme-icon{
    height: 30px;
    width: 30px;
}

.navbar-button {
    text-decoration: none;
    color: var(--cor-texto);
    font-size: large;
    border-radius: 20px;
    padding: 10px;
    background-color: transparent;
    border: none;
    transition: opacity 0.4s;
    cursor: pointer;
}

.navbar-button.highlight {
    color: var(--cor-texto);
    background-color: var(--cor-roxo-claro);
    border: var(--cor-roxo-claro) solid 2px;

}

/* NAVBAR MENU */
#hamburguer {
    font-size: 30px;
    color: var(--cor-texto);
    cursor: pointer;
    display: block;
}

#navbar-mobile {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: var(--cor-header);
    padding: 20px;
    border-radius: 10px;
}

/* Interações */
.navbar-button:hover {
    opacity: 0.7;
}
