/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #552287;
    width: 100%;
    height: fit-content;
}

#footercontato {
    text-align: center;
    padding: 40px;
    padding-bottom: 5px;
    color: #dfdfdf;
}

#boxsocial {
    display: flex;
    padding: 30px;
    gap: 25px;
}

.midialogo {
    filter: invert(85%);
    width: 30px;
    transition: opacity 0.3s, transform 0.3s;
}
.midialogo:hover{
    opacity: 80%;
    transform: scale(1.2);
}

#footermensagem {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    color: #dfdfdf;
}
#clicabletext{
    padding-top: 15px;
    color: #dfdfdf;
    display: flex;
    gap: 30px;
    padding-right: 27px;
}
#end {
    padding: 10px;
    background-color: #121212;
    text-align: center;
    color: #454545;
}
