/* RESPONSIVE DESIGN */
@media (max-width: 600px) {
    #boxlinks {
        display: none;
    }

    #hamburguer {
        display: block;
    }

    #aboutmeparagraph {
        padding: 13px;
    }

    #aboutme {
        margin: 25px;
    }

    #maincard {
        margin-top: 25px;
    }
    #clicabletext{
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 10px;
    }
    .footerscene{
        padding-top: 10px;
    }
    .footerscene:nth-child(2) {
        order: -1; /* Moves second item to first position */
      }
}
@media (max-width: 400px){
    #boxtexto{
        width: 200px;
    }
    #boxfoto{
        width: 250px;
        height: 250px;
    }
}